<!-- This added simply to remove the mental logging from (I think) Dropwizard, whcih I guess include Logback -->
<!-- http://stackoverflow.com/questions/4915414/disable-httpclient-logging/8936580#8936580 -->
<configuration debug="false">
    <!-- definition of appender STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <!-- appender referenced after it is defined -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>